{:blocks (
{:block/content "{:title \"🔨 NOW\"\n    :query [:find (pull ?h [*])\n            :in $ ?start ?today\n            :where\n            [?h :block/marker ?marker]\n            [(contains? #{\"NOW\" \"DOING\"} ?marker)]\n            [?h :block/page ?p]\n            [?p :block/journal? true]\n            [?p :block/journal-day ?d]\n            [(>= ?d ?start)]\n            [(<= ?d ?today)]]\n    :inputs [:14d :today]\n    :result-transform (fn [result]\n                        (sort-by (fn [h]\n                                   (get h :block/priority \"Z\")) result))\n    :group-by-page? false\n    :collapsed? false}"
:block/format :markdown
:block/left 
{:block/uuid #uuid "66cdaf45-e52c-4043-9cc7-12302e45950a"}
:block/parent 
{:block/uuid #uuid "66cdaf45-e52c-4043-9cc7-12302e45950a"}
:block/properties 
{}
:block/uuid #uuid "66cdbfbb-2f04-4343-9eae-73b672ea377c"} 
{:block/created-at 1724783133799
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:isSizeLocked true
:stroke "red"
:borderRadius 0
:index 1
:scale [1 1]
:scaleLevel "lg"
:fill "red"
:type "text"
:size [117 49]
:fontFamily "var(--ls-font-family)"
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "5aa20640-6494-11ef-abaa-d37dcc9002af"
:padding 4
:fontWeight 700
:noFill true
:isLocked false
:point [1096 -2616]
:lineHeight 1.2
:fontSize 32
:parentId "66cdaf45-e52c-4043-9cc7-12302e45950a"
:nonce 1724777382942
:italic false
:text "DOING"}}
:block/updated-at 1724783133799} 
{:block/created-at 1724783133799
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:isSizeLocked true
:stroke "green"
:borderRadius 0
:index 0
:scale [1 1]
:scaleLevel "lg"
:fill "green"
:type "text"
:size [168 49]
:fontFamily "var(--ls-font-family)"
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "6c8ca9f0-6494-11ef-abaa-d37dcc9002af"
:padding 4
:fontWeight 700
:noFill true
:isLocked false
:point [1632 -2616]
:lineHeight 1.2
:fontSize 32
:parentId "66cdaf45-e52c-4043-9cc7-12302e45950a"
:nonce 1724777381560
:italic false
:text "BACKLOG"}}
:block/updated-at 1724783133799} 
{:block/content "{{query }}"
:block/format :markdown
:block/left 
{:block/uuid #uuid "66cdbfbb-2f04-4343-9eae-73b672ea377c"}
:block/parent 
{:block/uuid #uuid "66cdaf45-e52c-4043-9cc7-12302e45950a"}
:block/properties 
{}
:block/uuid #uuid "66ce04a3-0e03-4bae-903a-5f2b6ccbeeba"} 
{:block/content "{{query (task NOW DOING)}}"
:block/format :markdown
:block/left 
{:block/uuid #uuid "66ce04a3-0e03-4bae-903a-5f2b6ccbeeba"}
:block/parent 
{:block/uuid #uuid "66cdaf45-e52c-4043-9cc7-12302e45950a"}
:block/properties 
{}
:block/uuid #uuid "66ce0509-a83f-4344-9d28-a287224b7554"} 
{:block/created-at 1724783197392
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 3
:scale [1 1]
:pageId "66ce0509-a83f-4344-9d28-a287224b7554"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 40.99993540035855]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "2dea9df0-6495-11ef-abaa-d37dcc9002af"
:noFill false
:isLocked false
:point [1088 -2560]
:parentId "66cdaf45-e52c-4043-9cc7-12302e45950a"
:collapsedHeight 0
:nonce 1724777736536}}
:block/updated-at 1724783197392} 
{:block/content "{{query (task LATER TODO)}}"
:block/format :markdown
:block/left 
{:block/uuid #uuid "66ce0509-a83f-4344-9d28-a287224b7554"}
:block/parent 
{:block/uuid #uuid "66cdaf45-e52c-4043-9cc7-12302e45950a"}
:block/properties 
{}
:block/uuid #uuid "66ce0523-d6c6-4ca2-a7d0-9226094490ce"} 
{:block/created-at 1724783133799
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:isSizeLocked true
:stroke "yellow"
:borderRadius 0
:index 2
:scale [1 1]
:scaleLevel "lg"
:fill "yellow"
:type "text"
:size [164 49]
:fontFamily "var(--ls-font-family)"
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "4d23c7f0-6495-11ef-abaa-d37dcc9002af"
:padding 4
:fontWeight 700
:noFill true
:isLocked false
:point [688 -2616]
:lineHeight 1.2
:fontSize 32
:parentId "66cdaf45-e52c-4043-9cc7-12302e45950a"
:nonce 1724777384110
:italic false
:text "BLOCKED"}}
:block/updated-at 1724783133799} 
{:block/content "{{query (task WAIT WAITING)}}"
:block/format :markdown
:block/left 
{:block/uuid #uuid "66ce0523-d6c6-4ca2-a7d0-9226094490ce"}
:block/parent 
{:block/uuid #uuid "66cdaf45-e52c-4043-9cc7-12302e45950a"}
:block/properties 
{}
:block/uuid #uuid "66ce054b-0cf5-44cd-9d33-bdad3b134e1f"} 
{:block/created-at 1724783173919
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 4
:scale [1 1]
:pageId "66ce054b-0cf5-44cd-9d33-bdad3b134e1f"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [392 100.9998469508924]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "56164720-6495-11ef-abaa-d37dcc9002af"
:noFill false
:isLocked false
:point [680 -2560]
:parentId "66cdaf45-e52c-4043-9cc7-12302e45950a"
:collapsedHeight 0
:nonce 1724777803090}}
:block/updated-at 1724783173919})
:pages (
{:block/uuid #uuid "66cdaf45-e52c-4043-9cc7-12302e45950a"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "66cdaf45-e52c-4043-9cc7-12302e45950a"
:name "work"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ("6c8ca9f0-6494-11ef-abaa-d37dcc9002af" "5aa20640-6494-11ef-abaa-d37dcc9002af" "4d23c7f0-6495-11ef-abaa-d37dcc9002af" "2dea9df0-6495-11ef-abaa-d37dcc9002af" "56164720-6495-11ef-abaa-d37dcc9002af")}}
:block/updated-at 1724783173918
:block/created-at 1724755781868
:block/type "whiteboard"
:block/name "work"
:block/original-name "work"})}