{:blocks (
{:block/created-at 1724755942120
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:collapsed false
:borderRadius 8
:index 0
:scale [1 1]
:pageId "AXPlus para UNIPlus"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [400 209]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "307c7490-6462-11ef-9b34-8b7c38f64416"
:noFill false
:point [1624 -2560]
:parentId "66cdaf45-e52c-4043-9cc7-12302e45950a"
:collapsedHeight 0
:nonce 1724755835486}}
:block/updated-at 1724755942120} 
{:block/created-at 1724757596101
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:collapsed false
:borderRadius 8
:index 1
:scale [1 1]
:pageId "Google Analytics nos Canais Digitais"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [400 218.99980240758757]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "41a0e540-6466-11ef-abaa-d37dcc9002af"
:noFill false
:isLocked false
:point [2032 -2560]
:parentId "66cdaf45-e52c-4043-9cc7-12302e45950a"
:collapsedHeight 0
:nonce 1724757582697}}
:block/updated-at 1724757596101})
:pages (
{:block/uuid #uuid "66cdaf45-e52c-4043-9cc7-12302e45950a"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "66cdaf45-e52c-4043-9cc7-12302e45950a"
:name "work"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ("307c7490-6462-11ef-9b34-8b7c38f64416" "41a0e540-6466-11ef-abaa-d37dcc9002af")}}
:block/updated-at 1724757596101
:block/created-at 1724755781868
:block/type "whiteboard"
:block/name "work"
:block/original-name "Work"})}