{:blocks (
{:block/created-at 1724755942120
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:collapsed false
:borderRadius 8
:index 0
:scale [1 1]
:pageId "AXPlus para UNIPlus"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [400 209]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "307c7490-6462-11ef-9b34-8b7c38f64416"
:noFill false
:point [1624 -2560]
:parentId "66cdaf45-e52c-4043-9cc7-12302e45950a"
:collapsedHeight 0
:nonce 1724755835486}}
:block/updated-at 1724755942120} 
{:block/created-at 1724758560291
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:collapsed false
:borderRadius 8
:index 1
:scale [1 1]
:pageId "Google Analytics nos Canais Digitais"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [400 296.00017258523826]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "41a0e540-6466-11ef-abaa-d37dcc9002af"
:noFill false
:isLocked false
:point [2032 -2560]
:parentId "66cdaf45-e52c-4043-9cc7-12302e45950a"
:collapsedHeight 0
:nonce 1724757582700}}
:block/updated-at 1724758560291} 
{:block/created-at 1724777201573
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:collapsed false
:borderRadius 8
:index 2
:scale [1 1]
:pageId "Indicadores de Reembolso"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [400 195.00004253160893]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "8ee84da0-6468-11ef-abaa-d37dcc9002af"
:noFill false
:point [2440 -2560]
:parentId "66cdaf45-e52c-4043-9cc7-12302e45950a"
:collapsedHeight 0
:nonce 1724758571055}}
:block/updated-at 1724777201573} 
{:block/created-at 1724777537142
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:collapsed false
:borderRadius 8
:index 3
:scale [1 1]
:pageId "MagmaPay"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [400 137.00006142886306]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "99d0a200-646b-11ef-abaa-d37dcc9002af"
:noFill false
:point [2848 -2560]
:parentId "66cdaf45-e52c-4043-9cc7-12302e45950a"
:collapsedHeight 0
:nonce 1724759877732}}
:block/updated-at 1724777537142} 
{:block/content "{:title \"🔨 NOW\"\n    :query [:find (pull ?h [*])\n            :in $ ?start ?today\n            :where\n            [?h :block/marker ?marker]\n            [(contains? #{\"NOW\" \"DOING\"} ?marker)]\n            [?h :block/page ?p]\n            [?p :block/journal? true]\n            [?p :block/journal-day ?d]\n            [(>= ?d ?start)]\n            [(<= ?d ?today)]]\n    :inputs [:14d :today]\n    :result-transform (fn [result]\n                        (sort-by (fn [h]\n                                   (get h :block/priority \"Z\")) result))\n    :group-by-page? false\n    :collapsed? false}"
:block/format :markdown
:block/left 
{:block/uuid #uuid "66cdaf45-e52c-4043-9cc7-12302e45950a"}
:block/parent 
{:block/uuid #uuid "66cdaf45-e52c-4043-9cc7-12302e45950a"}
:block/properties 
{}
:block/uuid #uuid "66cdbfbb-2f04-4343-9eae-73b672ea377c"} 
{:block/created-at 1724777896455
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:isSizeLocked true
:stroke "green"
:borderRadius 0
:index 4
:scale [1 1]
:scaleLevel "lg"
:fill "green"
:type "text"
:size [117 49]
:fontFamily "var(--ls-font-family)"
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "5aa20640-6494-11ef-abaa-d37dcc9002af"
:padding 4
:fontWeight 700
:noFill true
:point [1208 -2616]
:lineHeight 1.2
:fontSize 32
:parentId "66cdaf45-e52c-4043-9cc7-12302e45950a"
:nonce 1724777382633
:italic false
:text "DOING"}}
:block/updated-at 1724777896455} 
{:block/created-at 1724777616081
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:isSizeLocked true
:stroke "red"
:borderRadius 0
:index 5
:scale [1 1]
:scaleLevel "lg"
:fill "red"
:type "text"
:size [97 49]
:fontFamily "var(--ls-font-family)"
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "6c8ca9f0-6494-11ef-abaa-d37dcc9002af"
:padding 4
:fontWeight 700
:noFill true
:isLocked false
:point [1632 -2616]
:lineHeight 1.2
:fontSize 32
:parentId "66cdaf45-e52c-4043-9cc7-12302e45950a"
:nonce 1724777381544
:italic false
:text "JOBS"}}
:block/updated-at 1724777616081} 
{:block/created-at 1724777887205
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:isSizeLocked true
:stroke "gray"
:borderRadius 0
:index 6
:scale [1 1]
:scaleLevel "lg"
:fill "gray"
:type "text"
:size [168 49]
:fontFamily "var(--ls-font-family)"
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "bea2c350-6494-11ef-abaa-d37dcc9002af"
:padding 4
:fontWeight 700
:noFill true
:isLocked false
:point [400 -2616]
:lineHeight 1.2
:fontSize 32
:parentId "66cdaf45-e52c-4043-9cc7-12302e45950a"
:nonce 1724777383226
:italic false
:text "BACKLOG"}}
:block/updated-at 1724777887205} 
{:block/content "{{query }}"
:block/format :markdown
:block/left 
{:block/uuid #uuid "66cdbfbb-2f04-4343-9eae-73b672ea377c"}
:block/parent 
{:block/uuid #uuid "66cdaf45-e52c-4043-9cc7-12302e45950a"}
:block/properties 
{}
:block/uuid #uuid "66ce04a3-0e03-4bae-903a-5f2b6ccbeeba"} 
{:block/content "{{query (task NOW DOING)}}"
:block/format :markdown
:block/left 
{:block/uuid #uuid "66ce04a3-0e03-4bae-903a-5f2b6ccbeeba"}
:block/parent 
{:block/uuid #uuid "66cdaf45-e52c-4043-9cc7-12302e45950a"}
:block/properties 
{}
:block/uuid #uuid "66ce0509-a83f-4344-9d28-a287224b7554"} 
{:block/created-at 1724777945878
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 7
:scale [1 1]
:pageId "66ce0509-a83f-4344-9d28-a287224b7554"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 269.9999715340079]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "2dea9df0-6495-11ef-abaa-d37dcc9002af"
:noFill false
:isLocked true
:point [1200 -2560]
:parentId "66cdaf45-e52c-4043-9cc7-12302e45950a"
:collapsedHeight 0
:nonce 1724777735703}}
:block/updated-at 1724777945878} 
{:block/content "{{query (task LATER TODO)}}"
:block/format :markdown
:block/left 
{:block/uuid #uuid "66ce0509-a83f-4344-9d28-a287224b7554"}
:block/parent 
{:block/uuid #uuid "66cdaf45-e52c-4043-9cc7-12302e45950a"}
:block/properties 
{}
:block/uuid #uuid "66ce0523-d6c6-4ca2-a7d0-9226094490ce"} 
{:block/created-at 1724777929166
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 8
:scale [1 1]
:pageId "66ce0523-d6c6-4ca2-a7d0-9226094490ce"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing false
:type "logseq-portal"
:size [400 324.0000066111858]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "3de5cdb0-6495-11ef-abaa-d37dcc9002af"
:noFill false
:isLocked true
:point [392 -2560]
:parentId "66cdaf45-e52c-4043-9cc7-12302e45950a"
:collapsedHeight 0
:nonce 1724777763794}}
:block/updated-at 1724777929166} 
{:block/created-at 1724777890685
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:isSizeLocked true
:stroke "yellow"
:borderRadius 0
:index 9
:scale [1 1]
:scaleLevel "lg"
:fill "yellow"
:type "text"
:size [164 49]
:fontFamily "var(--ls-font-family)"
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "4d23c7f0-6495-11ef-abaa-d37dcc9002af"
:padding 4
:fontWeight 700
:noFill true
:isLocked false
:point [808 -2616]
:lineHeight 1.2
:fontSize 32
:parentId "66cdaf45-e52c-4043-9cc7-12302e45950a"
:nonce 1724777383954
:italic false
:text "BLOCKED"}}
:block/updated-at 1724777890685} 
{:block/content "{{query (task WAIT WAITING)}}"
:block/format :markdown
:block/left 
{:block/uuid #uuid "66ce0523-d6c6-4ca2-a7d0-9226094490ce"}
:block/parent 
{:block/uuid #uuid "66cdaf45-e52c-4043-9cc7-12302e45950a"}
:block/properties 
{}
:block/uuid #uuid "66ce054b-0cf5-44cd-9d33-bdad3b134e1f"} 
{:block/created-at 1724777952364
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 10
:scale [1 1]
:pageId "66ce054b-0cf5-44cd-9d33-bdad3b134e1f"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [392 101.00011643848137]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "56164720-6495-11ef-abaa-d37dcc9002af"
:noFill false
:isLocked true
:point [800 -2560]
:parentId "66cdaf45-e52c-4043-9cc7-12302e45950a"
:collapsedHeight 0
:nonce 1724777803010}}
:block/updated-at 1724777952364})
:pages (
{:block/uuid #uuid "66cdaf45-e52c-4043-9cc7-12302e45950a"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "66cdaf45-e52c-4043-9cc7-12302e45950a"
:name "work"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ("307c7490-6462-11ef-9b34-8b7c38f64416" "41a0e540-6466-11ef-abaa-d37dcc9002af" "8ee84da0-6468-11ef-abaa-d37dcc9002af" "99d0a200-646b-11ef-abaa-d37dcc9002af" "5aa20640-6494-11ef-abaa-d37dcc9002af" "6c8ca9f0-6494-11ef-abaa-d37dcc9002af" "bea2c350-6494-11ef-abaa-d37dcc9002af" "2dea9df0-6495-11ef-abaa-d37dcc9002af" "3de5cdb0-6495-11ef-abaa-d37dcc9002af" "4d23c7f0-6495-11ef-abaa-d37dcc9002af" "56164720-6495-11ef-abaa-d37dcc9002af")}}
:block/updated-at 1724777952364
:block/created-at 1724755781868
:block/type "whiteboard"
:block/name "work"
:block/original-name "work"})}